body {
  background-image: url("images/pexels-photo-5412087.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins, sans-serif;
}

.card {
  margin-top: 380px;
  font-weight: bold;
  color: rgb(255, 46, 99);
  margin-left: 37%;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px #888888;
  width: fit-content;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-right: 30px;
  border-radius: 7px;
  text-align: center;
}

.btn {
margin-left: 485px;
}

#decrement-btn, #increment-btn {
  margin-top: 30px;
  font-weight: bold;
  color: rgb(255, 46, 99);
  margin-left: 10px;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px #888888;
  width: fit-content;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 30px;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}

#increment-btn:hover {
  background-color: rgba(240, 248, 255, 0.562);
}

#decrement-btn:hover {
  background-color: rgba(240, 248, 255, 0.562);
}

#increment-btn:active {
  background-color: rgb(240, 248, 255);
}

#decrement-btn:active {
  background-color: rgb(240, 248, 255);
}