body {
  background-image: url("images/pexels-photo-5412087.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins, sans-serif;
}

.card, #increment-btn {
  margin-top: 380px;
  font-weight: bold;
  color: rgb(255, 46, 99);
  margin-left: 37%;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px #888888;
  width: fit-content;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-right: 30px;
  border-radius: 7px;
  text-align: center;
}

#increment-btn {
 
  font-size: 18px;
  margin-top: 15px;
  margin-left: 44%;
  border: none;
  padding-bottom: 5px;
  cursor: pointer;
}